@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

.wrapper .container {
  display: flex;
}

p::-moz-selection {
  background-color: yellowgreen;
}

p::selection {
  background-color: yellowgreen;
}

header {
  position: sticky;
  top: 0;
  border: 1px solid #ccc;
  height: 100vh;
  max-width: 16vw;
  text-align: center;
}
header nav h1 {
  font-size: 1.5vw;
  font-weight: 500;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
header nav ul {
  list-style: none;
}
header nav a {
  text-decoration: none;
}
header nav a li {
  font-size: 1.2vw;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  color: black;
}
header nav a li:hover {
  background: #ccc;
  transition: background 0.3s ease-in-out;
}

main {
  margin-bottom: 410px;
  padding: 50px;
  max-width: 84vw;
  text-align: justify;
}
main section {
  margin-bottom: 50px;
}

section h2 {
  padding-bottom: 10px;
  font-size: 25px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  font-weight: 400;
}
section article {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section article ul {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section article code {
  white-space: pre-line;
  line-height: 2;
  background-color: #e7e7e7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}